body {
    background: #AAA;
    width: 500px;
    height: 300px;
}

#page {
    width: calc(100% - 100px);
    height: calc(100% - 20px);
    padding: 10px;
    font-family: Georgia, Palatino, sans-serif;
    background-color: #EEE;
    position: absolute;
    top: 20px;
    left: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: inset 0 0 3px #888;
}

#header {
    width: calc(100% - 15px);
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #EEE;
    padding: 7.5px;
    font-size: 20px;
    padding-top: 5px;
    z-index: 999;
    box-shadow: 0px 2px 2px #AAA;
}

#sidebar {
    transform: rotate(-90deg);
    position: absolute;
    left: -20px;
    top: 120px;
    z-index: 998;
}

#sidebar span {
    background-color: #EEE;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 20px;
    padding: 3px;
    font-size: 13px;
}

#sidebar a {
    color: #888;
    text-decoration: none;
}

samp {
    color: purple;
}

samp, code {
    font-family: Monaco, monospace;
    font-size: 12.5px;
}

ul {
    list-style: square;
}

/* Scrollbar code. */
::-webkit-scrollbar {
    width: 12px;
    z-index: 500;
}
::-webkit-scrollbar-track {
    background-color: #DDD;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    z-index: 501;
}
::-webkit-scrollbar-thumb {
    background-color: #EEE;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 502;
}